<div *ngIf="loading" class="loading-overlay">
  <div class="spinner"></div>
</div>

<div class="cart-container && cart.length > 0" *ngIf="!loading">
  <h2 class="cart-title">Your Cart</h2>
  <h2 class="cart-title"> Total Price: {{ totalPrice | currency }}</h2>
  <div *ngIf="cart.length > 0; else emptyCart">
    <div *ngFor="let item of cart" class="cart-item">
      <img [src]="item.productId.imageUrl" alt="{{ item.productId.name }}" class="cart-item-image" />
      <div class="cart-item-details">
        <h3>{{ item.productId.name }}</h3>
        <p>Price: {{ item.productId.price | currency }}</p>
        <p>Quantity:
          <input
          type="number"
          [value]="item.quantity"
          (change)="updateQuantity(item.productId._id, $event)"
        />

        </p>
        <button (click)="removeFromCart(item.productId._id)">Remove</button>
      </div>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty!</p>
  </ng-template>
</div>

<app-footer></app-footer>
