<!-- Search Bar -->
<div class="search-container">
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search products..." (input)="searchProducts()">
    <button (click)="searchProducts()"><i class="fas fa-search"></i></button>
  </div>
</div>

<div class="products-container">
  <div class="product-card" *ngFor="let product of filteredProducts">
    <div class="product-image-container">
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" (click)="viewProductDetails(product._id)">
      <button
      class="favorite-btn"
      [ngClass]="{ 'active': isFavourite(product._id) }"
      (click)="toggleFavourite(product._id)"
    >
      <i class="fa-solid fa-heart" [ngStyle]="isFavourite(product._id) ? { color: 'red' } : {color : 'white'}"></i>
    </button>
    </div>
    <div class="product-details">
      <h2 class="product-title">{{ product.name }}</h2>
      <p class="product-description">{{ product.brand }}</p>
      <p class="product-price">{{ product.price | currency }}</p>
      <button class="add-to-cart-btn" (click)="addToCart(product._id, 1)">
        <i class="fas fa-shopping-cart"></i> {{ isCard(product._id) ? 'Added to Cart' : 'Add to Cart' }}
      </button>
    </div>
  </div>
</div>


